body {
    background-image: url(https://previews.123rf.com/images/melpomen/melpomen1610/melpomen161000136/63871650-survey-concept-with-a-tablet-on-blue-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    width: 100%;
    height: auto;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


}